Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Werkzeug==3.0.2
itsdangerous==2.1.2

SQLAlchemy==2.0.34          # fixed __firstlineno__ bug
psycopg2-binary==2.9.8      # last wheel built for Py 3.12

gunicorn==22.0.0

google-genai==0.5.0
protobuf==4.25.3
typing_extensions==4.12.2
